# Import data
In this Jupyter Notebook, you will learn how to import data from CSV into Jupyter Notebook

In [1]:
#import the package "Pandas" into Jupyter Notebook
import pandas as pd

In [2]:
#We import the stock data of Facebook into Jupyter Notebook. The CSV file is located in the folder called "Data" in your Workspace
#We then name the DataFrame name as 'fb'
fb = pd.DataFrame.from_csv('../data/facebook.csv')

### Instruction
Now is your turn to import the stock price of Microsoft (microsoft.csv), of which the CSV is located in the same folder, and rename the Dataframe in "ms".

In [4]:
ms = pd.DataFrame.from_csv('../data/microsoft.csv')

In [5]:
# run this cell to ensure Microsoft's stock data is imported
print(ms.iloc[0, 0])

46.73

** Expected output: ** 46.73

In [6]:
fb

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-12-31,20.400000,20.510000,19.990000,20.049999,19.459270,4157500
2015-01-02,20.129999,20.280001,19.809999,20.129999,19.536913,2842000
2015-01-05,20.129999,20.190001,19.700001,19.790001,19.206934,4948800
2015-01-06,19.820000,19.840000,19.170000,19.190001,18.624611,4944100
2015-01-07,19.330000,19.500000,19.080000,19.139999,18.576082,8045200
2015-01-08,19.360001,19.980000,19.350000,19.860001,19.274870,7094500
2015-01-09,19.930000,20.090000,19.660000,19.940001,19.352512,5238500
2015-01-12,19.990000,20.000000,19.510000,19.690001,19.109879,4768300
2015-01-13,19.840000,20.240000,19.520000,19.660000,19.080761,5909700
2015-01-14,19.450001,19.799999,19.400000,19.740000,19.158401,3881500
2015-01-15,19.879999,20.000000,19.590000,19.600000,19.022530,4723300
2015-01-16,19.570000,19.980000,19.510000,19.959999,19.371923,4537800
2015-01-20,20.100000,20.209999,19.770000,20.020000,19.430159,3487500
2015-01-21,19.910000,20.350000,19.770000,20.299999,19.701904,3619500
2015-01-22,20.340000,20.709999,20.129999,20.650000,20.041594,3992800
2015-01-23,20.670000,20.750000,20.500000,20.709999,20.099825,2976700
2015-01-26,20.620001,20.719999,20.490000,20.620001,20.012480,3331000
2015-01-27,20.299999,20.320000,19.590000,19.629999,19.051643,8948700
2015-01-28,19.870001,19.950001,19.299999,19.309999,18.741074,6818200
2015-01-29,19.320000,19.889999,19.230000,19.780001,19.197226,5883500
2015-01-30,19.639999,19.870001,19.170000,19.200001,18.634314,7455000
2015-02-02,19.320000,19.700001,18.940001,19.620001,19.041941,6490100
2015-02-03,19.760000,20.129999,19.660000,20.110001,19.517504,4555300
2015-02-04,20.049999,20.389999,19.990000,20.160000,19.566031,4537900
2015-02-05,20.180000,20.500000,20.160000,20.490000,19.886305,3511200
2015-02-06,20.469999,20.709999,20.309999,20.400000,19.798956,5231900
2015-02-09,20.280001,20.440001,20.150000,20.379999,19.779549,6848600
2015-02-10,20.400000,20.959999,20.309999,20.950001,20.332756,5655100
2015-02-11,21.000000,21.000000,20.670000,20.809999,20.196877,8020800
2015-02-12,22.000000,22.500000,21.870001,22.299999,21.642979,16922600
...,...,...,...,...,...,...
2017-12-21,196.940002,197.949997,195.550003,195.889999,195.889999,7522600
2017-12-22,194.399994,195.649994,191.250000,195.270004,195.270004,11656900
2017-12-26,193.029999,197.750000,191.820007,197.440002,197.440002,8877000
2017-12-27,196.899994,199.970001,196.309998,197.169998,197.169998,8237200
2017-12-28,198.130005,199.380005,197.149994,197.399994,197.399994,6006200
2017-12-29,198.460007,198.460007,193.500000,193.500000,193.500000,6999100
2018-01-02,195.779999,199.500000,194.500000,199.350006,199.350006,8890400
2018-01-03,204.100006,213.699997,203.750000,212.470001,212.470001,22867600
2018-01-04,215.759995,218.050003,212.690002,213.589996,213.589996,14581700
2018-01-05,214.190002,216.910004,211.080002,215.399994,215.399994,14503100
2018-01-08,220.399994,225.000000,218.580002,222.000000,222.000000,22030400
2018-01-09,222.220001,223.820007,218.639999,221.940002,221.940002,12425000
2018-01-10,218.199997,223.820007,216.000000,223.679993,223.679993,14566600
2018-01-11,225.000000,226.270004,223.210007,224.080002,224.080002,10150800
2018-01-12,223.600006,224.990005,221.339996,222.979996,222.979996,8997900
2018-01-16,224.050003,227.509995,216.690002,220.110001,220.110001,17558700
2018-01-17,220.699997,225.119995,216.899994,224.720001,224.720001,13460200
2018-01-18,223.940002,226.639999,222.679993,224.440002,224.440002,10215800
2018-01-19,228.089996,231.089996,227.000000,230.110001,230.110001,15234500
2018-01-22,230.429993,233.759995,228.100006,233.690002,233.690002,13773600
2018-01-23,235.850006,239.830002,235.100006,238.910004,238.910004,11880700
2018-01-24,239.039993,240.490005,233.550003,235.800003,235.800003,14499300
2018-01-25,238.000000,239.750000,235.750000,236.350006,236.350006,10247100
2018-01-26,238.119995,243.339996,237.600006,243.330002,243.330002,12908900
2018-01-29,242.740005,248.110001,240.610001,246.850006,246.850006,11377900
2018-01-30,241.110001,246.419998,238.410004,242.720001,242.720001,14270800
2018-01-31,245.770004,249.270004,244.449997,245.800003,245.800003,11964400
2018-02-01,238.520004,246.899994,238.059998,240.500000,240.500000,12980600
2018-02-02,237.000000,237.970001,231.169998,233.520004,233.520004,17961600
2018-02-05,227.000000,233.229996,205.000000,213.699997,213.699997,28869000

In [8]:
fb.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [11]:
plot(fb)

NameError: name 'plot' is not defined

In [16]:
fb.loc['2015-01-01':'2015-12-31','Close'].plot()

In [19]:
fb.iloc[624:,:]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-06-23,158.679993,159.320007,153.220001,153.830002,153.587982,27214700
2017-06-26,155.160004,156.600006,148.330002,152.149994,151.910614,26599000
2017-06-27,151.440002,151.789993,146.350006,146.580002,146.349380,24987300
2017-06-28,149.320007,151.940002,145.750000,151.750000,151.511246,24873700
2017-06-29,150.600006,150.720001,144.080002,146.679993,146.449219,26610600
2017-06-30,147.380005,147.929993,143.500000,144.559998,144.332550,18276500
2017-07-03,145.050003,145.649994,138.580002,139.330002,139.110794,17726800
2017-07-05,141.899994,144.220001,141.130005,143.050003,142.824936,20504700
2017-07-06,141.869995,145.380005,139.759995,143.479996,143.254257,18657100
2017-07-07,145.779999,147.500000,144.850006,146.759995,146.529099,16374300
2017-07-10,149.740005,154.000000,148.679993,153.699997,153.458176,23962300
2017-07-11,153.850006,156.190002,152.149994,155.880005,155.634766,18948900
2017-07-12,158.300003,163.000000,156.559998,162.509995,162.254318,28630200
2017-07-13,163.000000,166.300003,158.750000,160.630005,160.377289,34228300
2017-07-14,161.289993,165.009995,161.009995,164.949997,164.690475,23548700
2017-07-17,166.330002,167.500000,161.750000,164.250000,163.991577,23269800
2017-07-18,161.779999,166.550003,161.300003,165.960007,165.698898,19416000
2017-07-19,166.330002,167.399994,164.610001,165.100006,164.840256,17176100
2017-07-20,165.929993,167.509995,163.910004,167.500000,167.236465,17489900
2017-07-21,166.669998,169.300003,166.089996,168.100006,167.835526,16208300
2017-07-24,168.389999,168.779999,165.720001,166.149994,165.888596,16313100
2017-07-25,165.220001,165.929993,163.580002,165.350006,165.089859,12413900
2017-07-26,167.679993,169.929993,165.850006,167.259995,166.996841,16010100
2017-07-27,168.270004,168.740005,157.559998,161.740005,161.485535,19571400
2017-07-28,160.289993,165.380005,159.279999,164.389999,164.131363,12833700
2017-07-31,164.940002,166.399994,160.619995,162.509995,162.254318,13991800
2017-08-01,162.130005,164.559998,161.000000,164.490005,164.231201,10784600
2017-08-02,165.750000,165.910004,161.270004,164.389999,164.131363,11961100
2017-08-03,164.369995,166.630005,163.679993,166.479996,166.218079,11060500
2017-08-04,167.399994,170.070007,166.479996,167.210007,166.946945,14727400
...,...,...,...,...,...,...
2017-12-21,196.940002,197.949997,195.550003,195.889999,195.889999,7522600
2017-12-22,194.399994,195.649994,191.250000,195.270004,195.270004,11656900
2017-12-26,193.029999,197.750000,191.820007,197.440002,197.440002,8877000
2017-12-27,196.899994,199.970001,196.309998,197.169998,197.169998,8237200
2017-12-28,198.130005,199.380005,197.149994,197.399994,197.399994,6006200
2017-12-29,198.460007,198.460007,193.500000,193.500000,193.500000,6999100
2018-01-02,195.779999,199.500000,194.500000,199.350006,199.350006,8890400
2018-01-03,204.100006,213.699997,203.750000,212.470001,212.470001,22867600
2018-01-04,215.759995,218.050003,212.690002,213.589996,213.589996,14581700
2018-01-05,214.190002,216.910004,211.080002,215.399994,215.399994,14503100
2018-01-08,220.399994,225.000000,218.580002,222.000000,222.000000,22030400
2018-01-09,222.220001,223.820007,218.639999,221.940002,221.940002,12425000
2018-01-10,218.199997,223.820007,216.000000,223.679993,223.679993,14566600
2018-01-11,225.000000,226.270004,223.210007,224.080002,224.080002,10150800
2018-01-12,223.600006,224.990005,221.339996,222.979996,222.979996,8997900
2018-01-16,224.050003,227.509995,216.690002,220.110001,220.110001,17558700
2018-01-17,220.699997,225.119995,216.899994,224.720001,224.720001,13460200
2018-01-18,223.940002,226.639999,222.679993,224.440002,224.440002,10215800
2018-01-19,228.089996,231.089996,227.000000,230.110001,230.110001,15234500
2018-01-22,230.429993,233.759995,228.100006,233.690002,233.690002,13773600
2018-01-23,235.850006,239.830002,235.100006,238.910004,238.910004,11880700
2018-01-24,239.039993,240.490005,233.550003,235.800003,235.800003,14499300
2018-01-25,238.000000,239.750000,235.750000,236.350006,236.350006,10247100
2018-01-26,238.119995,243.339996,237.600006,243.330002,243.330002,12908900
2018-01-29,242.740005,248.110001,240.610001,246.850006,246.850006,11377900
2018-01-30,241.110001,246.419998,238.410004,242.720001,242.720001,14270800
2018-01-31,245.770004,249.270004,244.449997,245.800003,245.800003,11964400
2018-02-01,238.520004,246.899994,238.059998,240.500000,240.500000,12980600
2018-02-02,237.000000,237.970001,231.169998,233.520004,233.520004,17961600
2018-02-05,227.000000,233.229996,205.000000,213.699997,213.699997,28869000